/*.test{
  display: table-row;
  width: 100%;
}

.test-cell{
  border: 1px solid #cccccc;
  display: table-cell;
  vertical-align: top;
  width: 12%;
}

.test-cell iframe{
  height: 100%;
}*/

.test{
  width: 100%;
  display: flex;
}

.test-cell{
  width: 100%;
}

.video-cell{
  height: 20vw;
  width: 55vw;
}